.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: gray;
  flex-shrink: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 1rem auto;
  padding: 0.5rem;
  & a {
    text-decoration: none;
    margin: 1rem auto;
    padding: 0 1rem;
    color: white;
    font-size: 1.2em;
  }
}
