.card_container {
  // border: 1px solid gray;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  margin: 1rem;
  width: 20vw;
  background: white;
}

.image_container {
  text-align: center;
  & img {
    width: 176px;
    height: auto;
    max-height: 263px;
  }
}
