.card_container {
  // border: 1px solid gray;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  margin: 1rem;
  width: 20vw;
  background: white;
}

.image_container {
  // text-align: center;
  & img {
    // max-width: 176px !important;
    height: auto;
    max-height: 263px;
    object-fit: contain;
    // margin: 0;
  }
}

// materialize override
// .card .card-image img {
//   width: 176px;
// }
