.container {
  display: flex;
  flex-flow: column nowrap; }
  .container form {
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    justify-content: space-around;
    align-items: flex-start; }
    .container form input {
      margin: 1rem; }
