.list_wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.list_container {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(240, 240, 240, 0.886);
  width: 80%;
}
